---
import Badge from "@/components/Badge.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Pill from "@/components/Pill.astro";
import Layout from "@/layouts/Layout.astro";
import Link from "@/components/Links.astro";
import Socials from "@/components/Socials.astro";
import LinkedInIcon from "@/components/Icons/LinkedIn.astro";
import GitHubIcon from "@/components/Icons/GitHub.astro";
import MailIcon from "@/components/Icons/Mail.astro";
---

<Layout
  title="Design System porfolio.dev"
  description="Catálogo de componentes del porfolio"
>
  <SectionContainer class="py-44 pb-32 flex flex-col gap-y-10">
    <article class="mb-5 text-xl font-semibold">
      <h1 class="mb-5">&lt;Badges /&gt;</h1>
      <Badge>Disponible para trabajar</Badge>
    </article>
    <article class="mb-5 text-xl font-semibold">
      <h1 class="mb-5">&lt;Social Pills /&gt;</h1>
      <div class="flex">
        <Socials href="https://www.linkedin.com/in/diegolain/"
          ><LinkedInIcon class="size-4 lg:size-6" /> LinkedIn</Socials
        >
        <Socials href="https://github.com/Lain096"
          ><GitHubIcon class="size-4 lg:size-6" />GitHub</Socials
        >
        <Socials href="mailto:diegolain.personal@gmail.com"
          ><MailIcon
            class="size-4 lg:size-6"
          />diegolain.personal@gmail.com</Socials
        >
      </div>
    </article>
    <article class="mb-5 text-xl font-semibold">
      <h1 class="mb-5">&lt;Pills /&gt;</h1>
      <Pill>Pill container</Pill>
    </article>
    <article class="mb-5 text-xl font-semibold">
      <h1 class="mb-5">&lt;Links /&gt;</h1>
      <Link>Link container</Link>
    </article>
  </SectionContainer>
</Layout>
