---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
import Pill from "../components/Pill.astro";
import LinkedInIcon from "../components/Icons/LinkedIn.astro";
import GitHubIcon from "../components/Icons/GitHub.astro";
import MailIcon from "../components/Icons/Mail.astro";
import Socials from "../components/Socials.astro";
---

<Layout
  title="Porfolio Diego Laín - Marine Developer"
  description="Thank you for viewing my porfolio. Hope you enjoy it! If any question, please contact me."
>
  <main>
    <section class="w-full mx-auto lg:w-[740px] py-44">
      <img
        class="rounded-full size-12 transform scale-150 mb-4"
        src="/profile-pic.jpg"
        alt="Diego Laín Photo"
      />
      <h1 class="flex text-white text-4xl font-bold flex-row gap-x-4 pb-4">
        Hi, I'm Diego Laín
        <a
          href="https://www.linkedin.com/in/diegolain/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Available to work!</Badge>
        </a>
      </h1>

      <h2 class="text-2xl text-wrap">
        <span class="text-white-300"
          >Born in Burgos and now living in Vigo (Pontevedra),</span
        ><span class="text-blue-300">
          passionate about natural sciences and technology.</span
        >
        <!-- <span class="opacity-80">This led me to pursue a degree in Marine Sciences followed by professional training in programming. I aim to combine both fields, applying my knowledge in biology and technology innovatively. 
				My marine sciences background provides a solid understanding of natural systems and environmental challenges, 
				which I now merge with my programming skills to explore new technological solutions.</span> -->
        <nav class="flex gap-x-2 mt-8">
          <Socials href="https://www.linkedin.com/in/diegolain/"
            ><LinkedInIcon class="w-6 h-6" /> LinkedIn</Socials
          >
          <Socials href="https://github.com/Lain096"
            ><GitHubIcon class="w-6 h-6" />GitHub</Socials
          >
          <Socials
            ><MailIcon class="w-6 h-6" />diegolain.personal@gmail.com</Socials
          >
        </nav>
        <!-- <div>
					<strong>Skills:</strong>
					<ul>
						<li><strong>Languages:</strong> 
							<Pill>Java</Pill> 
							<Pill>C#</Pill> 
							<Pill>TypeScript</Pill> 
							<Pill>JavaScript (Basic)</Pill> 
							<Pill>Python (Basic)</Pill> 
							<Pill>HTML5</Pill> 
							<Pill>CSS</Pill> 
							<Pill>SCSS</Pill> 
							<Pill>SQL</Pill>
						</li>
						<li><strong>Frameworks:</strong> 
							<Pill>Angular</Pill> 
							<Pill>Spring</Pill> 
							<Pill>Ontimize</Pill> 
							<Pill>Unity</Pill> 
							<Pill>Astro (Basic)</Pill>
						</li>
						<li><strong>Databases & Tools:</strong> 
							<Pill>PostgreSQL</Pill> 
							<Pill>MySQL</Pill> 
							<Pill>SQLite</Pill> 
							<Pill>DBeaver</Pill>
						</li>
						<li><strong>Version Control:</strong> 
							<Pill>Git</Pill> 
							<Pill>GitHub</Pill>
						</li>
					</ul>
				</div> -->
      </h2>
    </section>
  </main>
</Layout>
