<section class="flex gap-x-5 justify-center items-center">
  <div class="[&>p]:mb-5 text-pretty">
    <p>
      Me llamo <span class="text-semibold text-blue-100"> Diego Laín </span>,
      pero la mayoría de gente me conoce simplemente como
      <span class="text-semibold text-blue-100">Laín </span> (ya que es mi segundo
      nombre y Diego es más común).
    </p>

    <p>
      Mi vida académica la empecé en la Universidad de Vigo, donde estudié el
      grado en Ciencias del Mar. Durante ese tiempo, me di cuenta de que lo mío
      era la tecnología y la programación, por lo que una vez terminada la
      carrera (ya que no me gusta dejar las cosas a medias), volví a mi ciudad
      natal.
    </p>

    <p>
      Una vez pude, cursé el ciclo superior de <span
        class="text-yellow-100 italic"
      >
        Desarrollo de Aplicaciones Multiplataforma
      </span>mientras lo compaginaba con un trabajo a tiempo completo en la
      Universidad de Burgos, con buenos resultados en ambos.
    </p>

    <p>
      Al finalizar el ciclo, me mudé de nuevo a Vigo, donde pude realizar un<span
        class="text-yellow-100 italic"
      >
        bootcamp de programación fullstack</span
      >
      con Campus Dual e Imatia, donde aprendí la dinámica de trabajo en el desarrollo
      de software y tuve la oportunidad de desarrollar un proyecto interesante.
    </p>
  </div>
  <img
    src="/about/Sobre_Mi.jpeg"
    alt="About me picture"
    class="size-5/12 rounded-full"
  />
</section>
