---
import { date } from "astro/zod"
import { defineAction } from "astro:actions"
import { manifest } from "astro:ssr-manifest"
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
    {
        date : `Abril 2024 - Junio 2024`,
        title: "Programador FullStack",
        place: "Imatia & Campus Dual (Vigo, España) - Remoto",
        description: "Desarrollo integral de una aplicación e-commerce como parte de un equipo, empleando las tecnologías Angular, Spring y Ontimize. Reuniones de planificación y revisión de sprint",
        link: "https://github.com/CampusDual/2024-BFS-1-G1_SkincareBiotech"
    },
    {
        date : `Agosto 2023 - Marzo 2024`,
        title: "Técnico de Investigación",
        place: "Universidad de Burgos (Burgos, España) - Presencial",
        description: "Gestión de Proyectos Universidad-Empresa, búsqueda y análisis de ofertas I+D, elaboración de material divulgativo (fichas técnicas, notas de prensa...), asesoramiento ...",
        link: "https://www.ubu.es/otri-transferencia"
    },
    {
        date: "Febrero 2022 – Agosto 2022",
        title: "Técnico en proyecto de sostenibilidad",
        place: "SCIAENA (Faro, Portugal) - Presencial",
        description: "Participación en el proyecto ‘Culatra 2030’ para el desarrollo sostenible de la isla: estudio de la reducción de plásticos y redes en el mar, concienciación sobre buenas prácticas ambientales, realización de talleres educativos, encuestas a los habitantes...",
        link: "https://www.sciaena.org/en/made-with-us/"
    },
    {
        date: "Junio 2020 - Septiembre 2020",
        title: "Técnico de Acuicultura",
        place: "Ovapiscis (Burgos, España) - Presencial",
        description: "Estudio del crecimiento de alevines de trucha, en función de su tipo de alimento. Mantenimiento de la piscifactoría: control de parámetros, vacunación, selección, análisis de resultados ...",
    }

]
---


<ol class="relative border-s border-gray-200 dark:border-gray-700">
    {
        EXPERIENCE.map(experience =>
            <li class="mb-10 ms-4">
                <ExperienceItem {...experience} />
            </li>
        )
    }

</ol>
